# Build outputs
Debug/
Release/
x64/
x86/

# Intermediate files
*.obj
*.pdb
*.ilk
*.log

# Visual Studio cache
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Test
/ProgrammingLanguage/test.c
/ProgrammingLanguage/explanation.txt
/ProgrammingLanguage/test.lang
/ProgrammingLanguage/manual.ebnf
/ProgrammingLanguage/ProgrammingLanguage.vcxproj
/ProgrammingLanguage/ProgrammingLanguage.vcxproj.filters
